body {
    font-family: comic sans MS;
    color:slategrey;
    background-color: black;
    margin-Top: 75px;
    margin:0 auto;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.normal {
    font-weight: normal;
}
.bold{
    font-weight:bold;
}

.img-medium {
    height: 400px;
    width:400px;
    
}

