body{
    margin:0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Delius Unicase', cursive;
}

@media screen and (min-width:1000px){
    #container{
    height:1000px;
    width:1000px;
    margin:0 auto;
}
}

.main{
    background-image:url(/ui/bground.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.main-articles{
    width:100%;
    height :350px;
    background-image:url(/ui/about.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}



.header{
    margin-top:0;
    width:100%;
}

.logo{
    height:50px;
    float:left;
    margin-top:10px;
    border-radius:50%;
}

nav{
    float:right;
    margin-top:26px;
}

.navbar{
    color:#fff;
    font-size:20px;
    margin-left:25px;
    text-decoration:none;
}

.navbar:hover{
    text-decoration:underline;
}

span{
    width:100%;
}

h1{
    font-size:70px;
    color:#d7dfed;
    text-align:center;
    clear:both;
    padding-top:180px;
}

h2{
    font-size:36px;
    color:#d7dfed;
    text-align:center;
    clear:both;
    margin-top:-60px; 
}

/*HEADER SECTION*/

#head{
    width:100%;
    height:350px;
    background-image:url(/ui/about.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.about{
    padding-top:75px;
    color:#000;
}

#about-accordian{
	 margin: 100px auto;
	 max-width: 95%;
     line-height:1.6em;
}

#accordion{
			max-width: 100%;
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		#accordion h2{
			font-size: 12pt;
			margin: 0px;
			padding: 10px;
			background: #000;
			border-bottom: 1px solid #fff;
		}
		#accordion li div.content{
			display: none;
			padding: 10px;
			background: #f9f9f9;
			border: 1px solid #ddd;
		}

		#accordion li:hover div.content{
			display: inherit;
		}
		
/*FOOTER SECTION*/	

.footer {
    margin: 0 auto;
    background: #0c1215;
    padding: 10px 0;
    text-align:center;
    
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 5px;
}

div.copyright{
    color:#d7dfed;
    text-align:center;
}
div.social{
    padding-right:100px;
}

.footer a:hover {
    color: #d7dfed;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

label{
    color:#ffffff;
}

input.text{
    height:30px;
    width:250px;
    border-radius:3px;
    border:none;
}

textarea.message{
    height:100px;
    width:250px;
    border-radius:3px;
    border:none;
}
 
input.submit{
    width:80px;
    height:30px;
    background-color:#ffffff;
    color:#183951;
    border-radius:3px;
    border:none;
}

input.submit:hover{
    text-decoration:underline;
}

.commenter {
      font-style: italic;
      font-size: 0.8em;
 } 
 
 
 #comment_form {
     margin-left: 10px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ccc;
 }

.profile-pic{
          display: inline-block;
          width: 300px;
          height: 300px;
          margin-top:46px;
          border-width: 5px;
          border-style: solid;
          border-color: #29313d;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-image: url('/ui/pROFILEPIC.JPG');
    }

.padding{
    padding-left:46px;
}


#login_area{
    font-family: 'Delius Unicase', cursive;
    width:700px;
    margin: 0 auto;
    text-align:center;
    margin-top:115px;
}

 .content p {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.about-tag{
    text-align:left!important;
    float: right;
    margin-top: 70px;
    margin-right: 300px;
    font-family: sans-serif;
}

#about-tag h3:after{
    content: ' ';
    max-width: 650px;
    border-top: 2px solid #231F20;
    height: 1px;
    display: block;
    margin: 20px 0 30px;
}

.row{
    margin: 0 auto;
    padding-top: 450px;
    text-align: center;
    width: 100%;
}

.post-preview{
    
}

.post-meta{
    
}

.post-title{
    
}

.post-subtitle{
    
}






























/*body {*/
/*    font-family: comic sans MS;*/
/*    color: slategrey;*/
/*    background-color: #660000;*/
/*    margin-Top: 75px;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/

/*}*/

/*.center {*/
/*    text-align: center;*/
/*}*/

/*.text-big {*/
/*    font-size: 300%;*/
/*}*/

/*.normal {*/
/*    font-weight: normal;*/
/*}*/
/*.bold{*/
/*    font-weight:bold;*/
/*}*/

/*.img-medium {*/
/*    height: 200px;*/
/*    width:200px;*/
/*    padding-top:20px;*/
/*    padding-right:20px;*/
/*    padding-left:20px; */
/*}*/
/* .nav-ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #000000;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    max-width: 100%;*/
/*    min-width:1000px;*/
/*    height:38px;*/
/*    text-align:center;*/
/*}*/

/*     li {*/
/*        margin:0px;*/
/*        float: left;*/
/*}*/

/*    li a {*/
/*        display: block;*/
/*        color:  #FFFFFF;*/
/*        text-align: center;*/
/*        padding: 15px;*/
/*        text-decoration: none;*/
/*        font-weight: bold;*/
/*        background-color: #000000;*/
/*}*/

/*    li a:hover {*/
/*       color: #FFFFFF;*/
/*       background-color: #a9a9a9;*/
/*}*/


/*.container{*/
/*            max-width: 800px;*/
/*            margin: 0 auto;*/
/*            color: grey;*/
/*            font-family: comic-sans;*/
/*	        padding-top:60px;*/
/*            padding-left:20px;*/
/*            padding-right:20px;*/
/*        }*/

